@use "../../styles/media" as *;
@use "../../styles/fonts" as *;

.destinations {
  margin: 0 auto;
  height: auto;
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 1023px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 auto;
    max-width: 1440px;
    height: 1313.58px;
  }

  .boldCity {
    color: #0c111f;
    font-weight: var(--font-weight-700);
    text-align: left;
  }
}

.mainBlock {
  height: auto;
  display: grid;
  max-width: 388.93px;
  position: relative;
  gap: 40px;

  @media screen and (min-width: $desktop) {
    max-height: 233.36px;
  }
}

.topBlock {
  display: grid;
  padding-top: 10px;
  position: relative;
  gap: 20px;
}

.bottomBlock {
  display: flex;
  position: relative;
  background: #f7f7f780;
  align-items: center;
}

.location {
  display: flex;
}

.locationAndPrice {
  display: grid;
}

.heading {
  display: grid;
  padding-bottom: 140px;
  position: relative;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: var(--font-weight-600);
  color: #f85e9f;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.secondTitle {
  font-size: 40px;
  font-weight: var(--font-weight-600);
  position: absolute;
  top: 40px;
  left: 0px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationItems {
  display: flex;
  padding: 0 20px;
  gap: 38.4px;
}

.navigationItemSeeAll {
  color: #f85e9f;
  font-size: 16px;
  font-weight: var(--font-weight-500);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;

  img {
    height: auto;
    max-width: 388.93px;
    max-height: 276.14px;
    border-radius: 8px;
  }

  .city {
    font-weight: bold;
    margin-top: 10px;
  }

  .description {
    margin-top: 10px;
    font-size: 16px;
  }

  .price {
    margin-top: 10px;
  }

  .amount {
    font-size: 23.34px;
    font-weight: var(--font-weight-700);
  }

  .interestFree {
    font-size: 13.61px;
    font-weight: var(--font-weight-500);
  }

  .seeMore {
    padding: 10px 20px;
    background: linear-gradient(135deg, #8482ff 0%, #7723fe 100%);
    color: white;
    border: none;
    border-radius: 43.93px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
