@use "../../styles/media" as *;
@use "../../styles/fonts" as *;

.navigation {
  display: flex;
  justify-content: space-between;
  height: 112px;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $tablet) {
    margin: 0 auto;
    max-width: 1023px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.logo {
  align-items: center;
}

.navTitles {
  list-style-type: none;
  margin: 0;
  padding: 0 50px;
  display: flex;
}

.navTitles li {
  margin-left: 20px;
}

.navTitles li:first-child {
  margin-left: 0;
}
